<h1>New Post</h1>

<form>
  <div class="form-group">
    <label for="author">Author</label>
    {{input id="author" class="form-control" value=author}}
  </div>

  <div class="form-group">
    <label for="question">Question</label>
    {{input id="title" class="form-control" value=question}}
  </div>

  <div class="form-group">
    <label for="body">description</label>
    {{textarea id="description" class="form-control" rows="15" value=description}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
