<h1>Message Board</h1>

<ul>
  {{#each}}
    <li>{{#link-to 'post' this.id}}{{question}}, {{author}}{{/link-to}}</li>
  {{/each}}
</ul>

<p> <a href='#' {{action 'sortByAuthor'}}>Sort by Author</a></p>
<p>{{#link-to 'new-post' classNames="btn btn-primary"}}New Question{{/link-to}}</p>
